:root {
    --white: #FFFFFF;
    --black: #000000;   
    --btn-color-blue:#3554BC;
    --hover-sky-blue: #48E6EA;
    --very-light-blue: #DAF0FD;
    --very-light-purple: #D9C9ED;
    --very-light-pinkl:#d8d8d8;
    --very-ligh-gray:#333333;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans'
}
.header{
    display: flex;
    height: 80px;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-light-pinkl);
    background-color: var(--very-light-blue);
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
}
.header ul li a{
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    padding: 8px;
}
.header ul li a:hover{
    background-color: var(--hover-sky-blue);
    border: 1px solid var(--very-light-purple);
}
.header ul li:first-child a:hover,
.header ul li:last-child a:hover,
.header ul li:nth-child(4) a:hover{
    display: block;
    text-align: center;
}
.primary-button{
    background-color: var(--btn-color-blue);
    margin-left: 25px;
    border: none;
    color: var(--white);
    height: 42px;
    width: 150px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.registrar-dominio{
    display: flex;
    padding: 40px;
}
.registrar-dominio div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
}
.registrar-dominio div:nth-child(2) h1{ 
    font-size: 50px;
    font-family: 'Poppins';
}
.registrar-dominio div:nth-child(2) input{ 
    border: 1px solid var(--very-ligh-gray);
    border-radius: 8px;
    height: 40px;
    width: 40%;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.secondary-button{
    background-color: var(--very-light-purple);
    margin-left: 25px;
    border: none;
    color: var(--white);
    height: 42px;
    width: 250px;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;

}